.post-page-main-div {
  margin-left: 5px;
}

.post-container-heading {
  margin-left: 25px;
}

.post-container-heading-para {
  font-size: 20px;
}

.post-container-content-div {
  display: inline-block;
}
